MODE=development
VITE_GITHUB_CLIENT_ID=
VITE_GOOGLE_CLIENT_ID=
VITE_IS_EMAIL_CONFIGURED=false
VITE_CLOUDFLARE_TURNSTILE_SITE_KEY=
VITE_IS_CLOUD=false
VITE_CLOUD_PRICE_PER_GB=
VITE_CLOUD_PADDLE_CLIENT_TOKEN=
VITE_CLOUD_IS_PADDLE_SANDBOX=true